/* .text-heading{
font-style: italic;
font-family: 'Courier New', Courier, monospace;
text-transform: capitalize;
} */


i:hover {
    cursor: pointer;
  }
  
  .dashboard-hme-img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
  }